<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>

<h4><strong>Who we are</strong></h4>
On The Spot Delivery is a privately owned Delivery Company that promises fast, affordable and reliable delivery of your items.
Unlike many of our compeititors, we handle everything from pickup to delivery. After placing your order, one of our friendly
drivers will arrive at a pickup location of your choice to retrieve your order, before delivering your package/s to their
destination.

<h2><strong>FAQ</strong></h2>

<h4><strong>How much will my delivery cost?</strong></h4>

<p>
    If you would like a quote for the cost of delivery of your package, simply click the "Quote" button at the header of the page.
    Here, you can input information about your package to get an accurate price for you delivery
</p>

<h4><strong>How long will it take for my delivery to be completeed?</strong></h4>

<p>
    Your delivery can take between 1 and 7 days to be completed, depending on two things:
    1. What priority did you choose for your deli
    very? Low priority takes up between 4 and 7 days, medium take between 2 and 3,
    and high priority deliveries are completed within one day

    2. Other factors including weather, road closures and time of year determine exactly how long your package will take
    to be delivered.
</p>
<h4><strong>Where is your delivery and pickup service available.</strong></h4>

<p>
    We deliver everywhere in Brisbane City
</p>


<h4><strong>How can I prepare for my package to be picked up?</strong></h4>
<p>
    On the spot askes just a few things of our customers to make pickup of items easier
    1. Have your items for delivery readynearby and ready for when one of our drivers arrive
    2. We require someone to be home when a driver arrives for pickup

    The driver will weigh your items to ensure they match the weights provided in the order. Aftert payment is made
     you will be asked for a signature, and yout items will be packaged and taken away for delivery.
    a signature
</p>
