
<h1><b>About us</b></h1>

<br />
<h4><strong>Who we are</strong></h4>
On The Spot Delivery is a small, privately owned delivery company that promises fast, affordable and reliable delivery of your items.
Unlike many of our compeititors, we handle everything from pickup to delivery. After placing your order, one of our friendly
drivers will arrive at a pickup location of your choice to retrieve your order, before delivering your package/s to their
destination.

<br />
<br />
<h2><strong>FAQ</strong></h2>

<br />

<h4><strong>How much will my delivery cost?</strong></h4>

<p>
    If you would like a quote for the cost of delivery of a package, simply click the "Quote" button at the header of the 
    page or click <a href="Quote">here</a>. Here, you can input information about a package to get an accurate price for it's delivery

</p>

<br />

<h4><strong>How long will it take for my delivery to be completeed?</strong></h4>

<p>
    Your delivery can take between 1 and 7 days to be completed, depending on two things:<br />
    1. What priority did you choose for your delivery? Low priority takes between 4 and 7 days, medium takes between 2 and 3,
    and high priority deliveries are completed by the end of the next day.<br />

    2. Other factors including weather, road closures and time of year determine exactly how long your package will take
    to be delivered.
</p>

<br />

<h4><strong>Where is On The Spot delivery available?</strong></h4>

<p>
    We deliver everywhere in Brisbane City!
</p>

<br />

<h4><strong>How can I prepare for my package to be picked up?</strong></h4>
<p>
    To make pickup of your order as quick and easy as possible, there are a few things you can do<br />
    1. Have your order ready when for when a driver arrives<br />
    2. We require someone to be home when an On The Spot employee arrives for pickup. If no one is home, unfortunately pickup cannot be completed<br />

    The driver will weigh your items to ensure they match what was entered in the original order. After payment is made
     you will be asked for a signature before your items are packaged and taken away for delivery.
</p>

