@{
    ViewBag.Title = "About";
}
<h3>About us</h3>

<p>We are a small delivery company, situated in Queensland, Australia. Our main focus is safe deliveries and we are always serious about being on time</p>
