@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Package delivery</h1>
    <p class="text-success">@ViewBag.Success</p>

    @Html.ActionLink("Request a delivery", "Order", "Home", new { @class = "btn btn-lg btn-danger center-block home-button-link" })


</div>