@{
    ViewBag.Title = "Delivery quote";

    string[] Speeds = new string[] { "Standard: ", "Fast: ", "Express: " };
    double[] SpeedPrices = new double[] { 1, 1.5, 2 };
    if (IsPost)
    {
        double WhichSpeed = 1.0;
        var Speed = "";
        int PackageWeight = Request.Form["PackageWeight"].AsInt();
        int PackageHeight = Request.Form["PackageHeight"].AsInt();
        int PackageLength = Request.Form["PackageLength"].AsInt();
        int PackageWidth = Request.Form["PackageWidth"].AsInt();
        if (Request.Form["1"] == "0")
        {
            Speed = "standard";
            WhichSpeed = 1.0;
        }
        if (Request.Form["1"] == "1")
        {
            Speed = "fast";
            WhichSpeed = 1.5;
        }
        if (Request.Form["1"] == "2")
        {
            Speed = "express";
            WhichSpeed = 2.0;
        }
        //int employeecount = Request.Form["employees"].AsInt();

        double PriceIncrease = (WhichSpeed - 1) * 100;
        <text>
            <Strong><u>Your Package's info: </u></strong><br />
            <Strong>Package Weight:</Strong> @PackageWeight g <br />
            <Strong>Package Height:</Strong> @PackageHeight mm<br />
            <Strong>Package Length:</Strong> @PackageLength mm<br />
            <Strong>Package Width:</Strong> @PackageWidth mm<br />
        </text>
        <br />
        <text>
            <Strong>Shipping calculation breakdown</Strong><br />
            First, payment for the size of the package (at $10 per cubic meter), is calculated using (height x length x width)/100,000 <br />
            <Strong>Cost of a package of this size:</Strong>= $@((PackageHeight*PackageLength*PackageWidth)/100000000) <br /> <br />
            Then, payementfor the weight of the package(at $4 per kg) <br /> 
            <Strong>Cost for a package of this weight </Strong>$@((PackageWeight / 1000)*4) <br /> <br />
            Then price increases based on shipping speed. <br />
            <Strong>You selected @Speed delivery, which increases the cost of shipping by a factor of @PriceIncrease%, which is $@(((((PackageHeight * PackageLength * PackageWidth) / 100000000) + ((PackageWeight / 1000) * 4)) * WhichSpeed) - (((PackageHeight * PackageLength * PackageWidth) / 100000000) + ((PackageWeight / 1000) * 4)))</Strong> <br /> <br />
            <Strong>And so, the price of delivery for your package is: $@((((PackageHeight * PackageLength * PackageWidth) / 100000000) + ((PackageWeight / 1000) * 4)) * WhichSpeed)</Strong>


        </text>
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<form method="post">
    <fieldset>
        <legend>Input package information</legend>

        <div>
            <label for="packageWeight">Package weight(grams):</label>
            <input type="number" name="PackageWeight" value="" />
        </div>

        <div>
            <label for="packageHeight">Package height(mm):</label>
            <input type="number" name="PackageHeight" value="" />
        </div>

        <div>
            <label for="packageLength">Package length(mm):</label>
            <input type="number" name="PackageLength" value="" />
        </div>

        <div>
            <label for="packageWidth">Package width(mm):</label>
            <input type="number" name="PackageWidth" value="" />
        </div>

        <strong>Delivery speed:</strong> <br />

        @for (var i = 0; i <= 2; i++)
        {
            @Speeds[i] <input type="radio" name="1" value="@i" /> <br />
        }

        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>


    </fieldset>
</form>



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>