
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Admin | Menu";
}

<div class="row">
    <div class="col-md-6 admin-column">
        <a class="btn btn-lg btn-danger center-block home-button-link"
           href='@Url.Action("Index", "HRManagement")'
           style="width:14em; margin-top:1em; margin-bottom:1em;"
           v-on:mouseover="hrMouseOver"
           v-on:mouseleave="MouseLeave">
            Employee Management
        </a>
        <a class="btn btn-lg btn-danger center-block home-button-link"
           href='@Url.Action("Orders", "Home")'
           style="width: 14em; margin-top: 1em; margin-bottom: 1em;"
           v-on:mouseover="orderMouseOver"
           v-on:mouseleave="MouseLeave">
            Orders
        </a>
    </div>
    <div class="col-md-6">
        <span id="desc-text">{{ description }}</span>
    </div>
</div>

<script>
    new Vue({
        el: 'body',

        data: {
            description: ""
        },

        methods: {
            hrMouseOver: function () {
                this
                    .description =
                    "Here you can manage the company employees";
            },

            MouseLeave: function () {
                this.description = "";
            },

            orderMouseOver: function () {
                this
                    .description =
                    "Here you can view all orders in the database";
            }

        }
    });
</script>

